.resume-page{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.resume-upload-card{
    width:450px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.resume-upload-card h2{
    margin-bottom:25px;
}

.resume-upload-card input{
    margin-bottom:20px;
    width:100%;
}

.resume-upload-card button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#1E3A8A;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.resume-upload-card button:hover{
    background:#274BB5;
}

.message{
    margin-top:20px;
    font-weight:bold;
}

.ai-section{
    margin-top:40px;
    padding:25px;
    background:#f8f9fc;
    border-radius:10px;
    border:1px solid #ddd;
}

.ai-section h2{
    margin-top:25px;
    margin-bottom:10px;
    color:#1E3A8A;
}

.ai-section p{
    line-height:1.7;
}

.ai-section ul{
    padding-left:20px;
}

.ai-section li{
    margin-bottom:10px;
    line-height:1.6;
}